<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Computational Drug Discovery Webapp</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.png">
    
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/themify-icons.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/acetylcho.css">
</head>

<body>
    <header>
        <div class="header-area ">
            <div class="header-top_area d-none d-lg-block">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-md-5 ">
                            <div class="header_left">
                                <p>CADD Webapp by Curtis W.</p>
                            </div>
                        </div>
                        <div class="col-xl-7 col-md-7">
                            <div class="header_right d-flex">
                                    <div class="short_contact_list">
                                            <ul>
                                                <li><a href="#"> <i class="fa fa-envelope"></i> eedeverdeen@gmail.com</a></li>
                                            </ul>
                                        </div>
                                        <div class="social_media_links">
                                            <a href="https://github.com/CurtisWu-CADD">
                                                <i class="fa fa-github"></i>
                                            </a>
                                            <a href="https://www.linkedin.com/in/curtiswu128">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sticky-header" class="main-header-area details_nav">
                <div class="container">
                    <div class="header_bottom_border">
                        <div class="row align-items-center">
                            <div class="col-xl-6 col-lg-7">
                                <div class="main-menu  d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a href="/">Home</a></li>
                                            <li><a href="/compounds/">Target Compounds <i class="ti-angle-down"></i></a>
                                                <ul class="submenu">
                                                        <li><a href="/acetylcholinesterase/">Acetylcholinesterase</a></li>
                                                        <li><a href="/bace1/">Beta-Secretase 1</a></li>
                                                        <li><a href="/vegfr2/">VEGF Receptor 2</a></li>
                                                        <li><a href="/hiv1rt/">HIV-1 RT</a></li>

                                                </ul>
                                            </li>
                                            <li><a href="/method/">Method</a></li>
                                            <li><a href="/references/">References</a></li>
                                            <li><a class="active" href="/about/">About</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->

    <div class="case_details_area">
        <div class="container">
            <div class="border_bottom">
                    <div class="row">
                            <div class="col-xl-12">
                                <div class="details_title">
                                    <h3>About this Webapp</h3>
                                </div>
                            </div>
                            <div class="col-xl-9">
                                <div class="details_main_wrap">
                                    <div style = "color:red;font-weight:bold;">
                                        <br>Important: Bioactivity predictions depend on the access to the <a href = "https://www.ebi.ac.uk/chembl/api/data/docs" style = "underline" target="_blank"> <u>CHEMBL DATABASE API</u></a> which at times could be unstable due to CHEMBL Database server issues. So if the prediction webpage is not redirecting after a long time it's likely due to server issues. You can try to refresh the page or retry in a while.
                                    </div>
                                    <p class="details_info">
                                        To predict the bioactivity value of potential drug molecules, first navigate to the 'Target Compounds' tab and select a desired target compound. Next, upload a text file containing all of the potential drug molecules. The compounds in the text file should be separated by spaces to allow for molecule identification. Invalid CHEMBL IDs will be ignored.
                                        <br><br>
                                        By utilizing machine learning algorithms, this web-application can predict the bioactivity of input drug compounds towards a specific drug target.
                                        <br><br>
                                        The web application will then generate a downloadable CSV file with the predicted values for each molecule sorted by bioactivities.
                                        <br>
                                        <div style = "font-size:18px; color:grey;margin-bottom:20px">
                                            This webapp was built using flask. Javascripts were used to display the submission eligibility of the file dynamically, and also to handle url redirecting, file content reading and some animations. More features or functions will be added in the future such as computing the Lipinski's Rule of 5 for input molecules, and also more available target compounds.
                                        </div>
                                    </p>
                                </div>
                            </div>
                        </div>
            </div>
        </div>
    </div>


    <div class="case_study_area case_page">
        <div class="container">
                <div class="row">
                        <div class="col-xl-12">
                            <div class="section_title mb-40">
                                <h3>Related Target Compounds</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-4 col-md-6 col-lg-4">
                            <div class="single_case">
                                <div class="case_thumb">
                                        <img src="/static/acetylcho.png" alt="">
                                    </div>
                            <div class="case_heading">
                                <span>Alzheimer's Disease</span>
                                <h3><a href="/acetylcholinesterase/">Acetylcholinesterase</a></h3>
                            </div>
                        </div>
                        </div>
                        <div class="col-xl-4 col-md-6 col-lg-4">
                            <div class="single_case">
                                <div class="case_thumb">
                                        <img src="/static/bace1.png" alt="">
                                    </div>
                            <div class="case_heading">
                                <span>Alzheimer's Disease</span>
                                    <h3><a href="/bace1/">Beta-Secretase 1</a></h3>
                            </div>
                        </div>
                        </div>
                        <div class="col-xl-4 col-md-6 col-lg-4">
                            <div class="single_case">
                                <div class="case_thumb">
                                        <img src="/static/vegfr-2.png" alt="">
                                    </div>
                            <div class="case_heading">
                                <span>Cancer</span>
                                    <h3><a href="/vegfr2/">VEGF Receptor-2</a></h3>
                            </div>
                        </div>
                        </div>
                    </div>
        </div>
    </div>
    <!-- /case_study_area  -->


    <script src="/static/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/static/js/jquery.slicknav.min.js"></script>
    <script src="/static/js/main.js"></script>

</body>

</html>