<!DOCTYPE html>
<html>
{% extends 'base.html' %}

{% block main %}
    <link rel="stylesheet" href="/static/acetylcho.css">
    <div class="center">

        <div class = "left-block">
            <div class="intro-block">
                <h2 style = "font-style: italic;">What is Acetylcholinesterase:</h2>
                <p>Acetylcholinesterase posesses three binding sites where the inhibiting compounds could interact and it is an enzyme that terminates the actions of the neurotransmitter acetylcholine. Drug compounds could bind to acetylcholinesterase and intefere with the breakdown of actylcholine, causing disrupted neurotransmission. Acetylcholinesterase is the target protein for many different diseases such as Alzheimer's disease.</p>
                <br>
                <p style="font-weight:bold;"> Please upload a .txt file with the CHEMBL id of the compounds separated by spaces below. The webapp will use a pre-trained machine learning model to compute the bioactivity of the compounds towards the target.</p>
                <p style="font-weight:bold;">Example: CHEMBL133897 CHEMBL336398</p>
            </div>

            <div class = "upload-block">
                <form method="POST" action="/upload/" enctype="multipart/form-data" id = "uploadForm">
                    <input type="file" name="file" id = "fileInput" onchange="handleFileUpload()">
                    <button type="button" onclick="handleSubmit()">Submit</button>
                </form>
                    <div class = "message-block">
                        <div id = "success_message" style="color:green"></div>
                        <div id = "failed_message" style="color:red"></div>
                        <br>
                        <div style="color:#0d45a5;">
                            <a href = "{{url_for('download_file',variable = id)}}">{{file_download}}</a>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</html>

<script>
    function handleFileUpload() {
        //var fileInput = document.getElementById("fileInput");
        var s_message = document.getElementById("success_message");
        var f_message = document.getElementById("failed_message");
        s_message.innerText = ""; // Clear the message when a new file is selected
        f_message.innerText = "";
      }

    function handleSubmit() {
        var fileInput = document.getElementById("fileInput");
        var s_message = document.getElementById("success_message");
        var f_message = document.getElementById("failed_message");
        if (fileInput.files.length === 0) {
            f_message.innerText = "Please select a file before submitting.";
            return;
        }

        var filename = fileInput.files[0].name;
        if (filename.length >= 4 && filename.substr(filename.length - 4)==='.txt') {
            s_message.innerText = "File successfully uploaded! Computing, Please wait...";
            f_message.innerText = "";
            var data = document.getElementById('fileInput').files[0];
            var fr = new FileReader();
            fr.onload = function(e) {
                var fileContent = e.target.result;
                console.log(fileContent);
                sendFileContent(filename,fileContent);
            };
            fr.readAsText(data);
            
            /*let formData = new FormData();
            formData.append('data',fileContent)
            fetch('/upload/',{method:'POST',body:formData})
            return;*/
        }
        else{
            s_message.innerText = "";
            f_message.innerText = "Please upload a non-empty .txt file!";
            return;
        }
        // Perform additional actions or submit the form here
        // For example, you can use form.submit() to submit the form to a server
    }

    function sendFileContent(filename, fileContent) {
        var payload = {
            filename: filename,
            fileContent: fileContent
        };
    
        fetch('/upload/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(payload)
        })
        .then(function(response) {
            if (response.ok) {
                // Redirect to the results page
                window.location.href = '/results/';
            } else {
                throw new Error('Error: ' + response.status);
            }
        })
        .catch(function(error) {
            console.log('Error:', error.message);
        });
    }

  </script>
{% endblock %}

