<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/base.css">
    <title>Computational Drug Discovery</title>
    <div class = "header-block">
        <div class = "empty-block"></div>
        <div class="header-block-text">
            <h1 class="title">Computational Drug Discovery Webapp</h1>
            <p class="subtitle">pIC50 Value Predictor</p>
        </div>
    </div>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/acetylcholinesterase/">Acetylcholinesterase</a></li>
                <li><a href="#"></a></li>
            </ul>
        </nav>
    </header>
    {% block main %}
    {% endblock %}
    <footer>
        <div class = "footer-note">
            Molecular descriptors calculated using PaDEL Descriptor
            <a href="https://pubmed.ncbi.nlm.nih.gov/21425294/" target=”_blank”>[Read Paper]</a>
        </div>
        <div class = "author">
            Webapp created by Curtis W.
        </div>
    </footer>
</body>
</html>