<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="static/main.css">
    <title>Computational Drug Discovery</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">Acetylcholinesterase</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <!-- Content of the specific page will go here -->
    </main>
    <footer>
        <!-- Footer content goes here -->
    </footer>
</body>
</html>