<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="static/main.css">
    <title>Computational Drug Discovery</title>
    <div class="header-block">
        <h1 class="title">Computational Drug Discovery Webapp</h1>
        <p class="subtitle">pIC50 Value Predictor</p>
    </div>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">Acetylcholinesterase</a></li>
                <li><a href="#"></a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="empty-block"></div>

        <!-- <p>
            This webapp allows the user to upload a .txt file containing the CHEMBL ids of the potential drug compounds. This webapp will then compute the bioactivity pIC50 values of the compounds and output them in a table using a pre-trained machine learning model.
        </p> -->
        <div class="left-block">
            <h2>Left Block</h2>
            <p>This is the left paragraph block.</p>
            <p>It can contain any content you want.</p>
          </div>
          
          <div class="right-block">
            <h2>Right Block</h2>
            <p>This is the right paragraph block.</p>
            <p>It can also contain any content you want.</p>
          </div>
    </main>
    <footer>
        <!-- Footer content goes here -->
    </footer>
</body>
</html>